<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    

</head>
<body>
    <h1>Show Product Deatils..</h1>
    <h1>Image Load..</h1>
    <table border="2px">
        <thead>
            <tr>
                <th>PRODUCT ID</th>
                <th>PRODUCT NAME</th>
                <th>PRODUCT DESCRIPTION</th>
                <th>PRODUCT QUANTITY</th>
                <th>PRODUCT PRICE</th>
                <th>ACTION..</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.product_name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.Price }}</td>

                <td><a href="{% url 'editpage' product.id  %}">Edit</a>
                    <br>
                    <a href="{% url 'deletepage' product.id  %}">Delete</a>
                </td>
        </tr>
        {% endfor %} 















                <!-- <td> -->
                    <!-- <img src="{{ product.image.url|default_if_none:'#' }}" width="100px" height="100px%"> -->
                    <!-- <img src="{{ product.image.url }}" width="100px" height="100px%">
                    </td> -->
                    
        </tbody>
    </table>
</body>
</html>